.polygon-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1); /* Adjust the color and opacity */
  clip-path: polygon(
    0 0,
    100% 0,
    100% 80%,
    0% 100%
  ); /* Example polygon shape */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkCursor {
  0%,
  16.6%,
  33.3%,
  50%,
  66.6%,
  83.3% {
    border-color: orange;
  }
  16.7%,
  33.4%,
  50.1%,
  66.7%,
  83.4%,
  100% {
    border-color: transparent;
  }
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid orange; /* cursor style */
  width: 0;
  animation: typing 2s steps(30, end) forwards,
    blinkCursor 0.75s step-end forwards;
}

.typingDelayed1 {
  animation-delay: 1.5s, 3.5s; /* typing delay, cursor delay */
}

.typingDelayed2 {
  animation-delay: 1.5s, 3.5s;
}

.typingDelayed3 {
  animation-delay: 2.5s, 4.5s;
}

.typingDelayed4 {
  animation-delay: 3.5s, 5.5s;
}
